<!DOCTYPE html>
html
  head
    meta(charset='utf-8')
    title Robot Img 文档
  body
    .g-nav
      .container
        h1 Robot Img
        .menu
          a.menu-item.active(href='#') 案例
          a.menu-item(href='./api.html') API
          a.menu-item(href='https://github.com/ykan/robot-img' target='_blank') Github

    if introHTML
      .container.markdown-body!= introHTML

    each demo in demos
      .container.markdown-body!= demo.mdHTML
      .container.example-container
        .example(id=demo.name)
        .code
          pre.language-tsx
            code.language-tsx!= demo.code

    each demo in demos
      script(type='module' src=`./examples/${demo.name}/index.tsx`)

    script(type='module' src='./index.ts')



